/*
====================================
Medium Screen - Others
====================================
*/
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }

  header .container {
    max-width: 1250px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .p2broker {
    grid-template-columns: 272px 400px 272px;
  }
}

/*
====================================
Small Screen - Tablate
====================================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 52%;
  }

  .platform_left {
    width: 50%;
    margin-top: 0rem;
  }

  .platform_left h4 br {
    display: none;
  }

  .platform_left p {
    margin-top: 1rem;
  }

  .platform_right {
    width: 50%;
  }

  .p2broker {
    grid-template-columns: 183px 340px 183px;
  }

  .p2broker_left img {
    max-width: 135px;
  }

  .p2broker_right_wrapper {
    width: 100%;
    padding-right: 2rem;
  }

  .p2broker_middle::before {
    right: 9%;
  }
}

/*
====================================
Small Screen - Mobile
====================================
*/
@media screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  html {
    font-size: 50%;
  }

  .header_wrapper {
    display: block;
  }

  .header_right {
    display: none;
  }

  .offright {
    display: block;
  }

  .header_right ul li.mainitem {
    display: block;
  }

  .header_right ul li.mainitem:last-child a {
    margin-left: 0;
    margin-top: 15px;
  }

  .offcanvas {
    padding-top: 15px;
  }

  .header_right ul li.mainitem ul {
    position: inherit;
    top: inherit;
    left: inherit;
    width: 100%;
    display: none;
  }

  .activeBroker {
    display: block !important;
  }

  .offcanvas-start {
    border: 0 !important;
  }

  #hero {
    padding: 6rem 0px;
  }

  .hero_input_field {
    padding-right: 0rem;
  }

  .hero_input {
    margin-top: 4rem;
  }

  .platform_wrapper {
    flex-direction: column-reverse;
  }

  .platform_left,
  .platform_right {
    width: 100%;
  }

  .platform_left h4 br {
    display: none;
  }

  #platform {
    padding-bottom: 5rem;
  }

  footer {
    padding: 3rem 0px;
  }

  .footer_wrapper {
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
  }

  .footer_right ul {
    gap: 5.5rem;
    text-align: center;
  }

  .p2hero_heading {
    padding: 3.8rem 0rem;
    text-align: center;
  }

  .p2hero_wrapper h3 {
    font-size: 3.2rem;
    line-height: 3.8rem;
  }

  .p2broker {
    grid-template-columns: 1fr;
    padding: 2.5rem;
  }

  .p2broker_left {
    display: block;
  }

  .p2broker_left span {
    left: inherit;
    right: -0.5rem;
    top: -0.5rem;
  }

  .p2broker_left img {
    margin-top: 3rem;
  }

  .p2broker_middle {
    padding: 0;
    position: inherit;
    margin-top: 2.5rem;
  }

  .p2broker_middle:after,
  .p2broker_middle:before {
    content: none;
  }

  .p2broker_asset {
    gap: 0.5rem;
    justify-content: space-between;
  }

  .p2broker_asset_cnt p span {
    display: block;
  }

  .p2broker_asset_cnt p {
    font-size: 1.4rem;
  }

  .p2broker_right {
    padding: 0rem 0;
  }

  .p2broker_asset {
    display: none;
  }

  .p2place {
    padding-bottom: 4.8rem;
  }

  .p2details_block {
    display: block;
    padding: 2.5rem;
  }

  .p2details_block_right {
    padding-left: 0rem;
  }

  .p2details_block_right_heading h4.commition br {
    display: none;
  }

  .p2details_block_right_heading p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .p2details_more button {
    margin-bottom: 3rem;
  }

  .p2details_hidden h4 a {
    display: inline;
    background-color: transparent;
    padding: 0;
  }

  .p2details_hidden ul li {
    display: flex;
    font-size: 1.4rem;
  }
}

/*
====================================
Xtra Small Screen - Small Mobile
====================================
*/
@media screen and (max-width: 576px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  html {
    font-size: 50%;
  }

  .header_wrapper {
    display: block;
  }

  .header_right {
    display: none;
  }

  .offright {
    display: block;
  }

  .header_right ul li.mainitem {
    display: block;
  }

  .header_right ul li.mainitem:last-child a {
    margin-left: 0;
    margin-top: 15px;
  }

  .offcanvas {
    padding-top: 15px;
  }

  .header_right ul li.mainitem ul {
    position: inherit;
    top: inherit;
    left: inherit;
    width: 100%;
    display: none;
  }

  .activeBroker {
    display: block !important;
  }

  .offcanvas-start {
    border: 0 !important;
  }

  #hero {
    padding: 6rem 0px;
  }

  .hero_input_field {
    padding-right: 0rem;
  }

  .hero_input {
    margin-top: 4rem;
  }

  .platform_wrapper {
    flex-direction: column-reverse;
  }

  .platform_left,
  .platform_right {
    width: 100%;
  }

  .platform_left h4 br {
    display: none;
  }

  #platform {
    padding-bottom: 5rem;
  }

  footer {
    padding: 3rem 0px;
  }

  .footer_wrapper {
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
  }

  .footer_right ul {
    gap: 5.5rem;
    text-align: center;
  }

  .p2hero_heading {
    padding: 3.8rem 0rem;
    text-align: center;
  }

  .p2hero_wrapper h3 {
    font-size: 3.2rem;
    line-height: 3.8rem;
  }

  .p2broker {
    grid-template-columns: 1fr;
    padding: 2.5rem;
  }

  .p2broker_left {
    display: block;
  }

  .p2broker_left span {
    left: inherit;
    right: -0.5rem;
    top: -0.5rem;
  }

  .p2broker_left img {
    margin-top: 3rem;
  }

  .p2broker_middle {
    padding: 0;
    position: inherit;
    margin-top: 2.5rem;
  }

  .p2broker_middle:after,
  .p2broker_middle:before {
    content: none;
  }

  .p2broker_asset {
    gap: 0.5rem;
    justify-content: space-between;
  }

  .p2broker_asset_cnt p span {
    display: block;
  }

  .p2broker_asset_cnt p {
    font-size: 1.4rem;
  }

  .p2broker_right {
    padding: 0rem 0;
  }

  .p2broker_asset {
    display: none;
  }

  .p2place {
    padding-bottom: 4.8rem;
  }

  .p2details_block {
    display: block;
    padding: 2.5rem;
  }

  .p2details_block_right {
    padding-left: 0rem;
  }

  .p2details_block_right_heading h4.commition br {
    display: none;
  }

  .p2details_block_right_heading p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .p2details_more button {
    margin-bottom: 3rem;
  }

  .p2details_hidden h4 a {
    display: inline;
    background-color: transparent;
    padding: 0;
  }

  .p2details_hidden ul li {
    display: flex;
    font-size: 1.4rem;
  }
}
