@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

body {
  font-family: "Lexend", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background: #fff;
  color: #1f1f1f;
}

a,
a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

label {
  margin-bottom: 0;
}

::selection {
  color: white;
  background: #ff7675;
}

::-webkit-selection {
  color: white;
  background: #ff7675;
}

::-moz-selection {
  color: white;
  background: #ff7675;
}

html {
  font-size: 62.5%;
}

/* -- header area start -- */

header {
  background-color: #fff;
  padding: 1.4rem 0rem;
}

.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_left a {
  display: inline-block;
}

.header_left a img {
  display: inline-block;
  max-width: 166px;
}

.header_right ul li.mainitem {
  display: inline-block;
  position: relative;
}

.header_right ul li.mainitem a {
  display: inline-block;
  font-size: 1.6rem;
  color: #1f1f1f;
}

.header_right ul li.mainitem ul {
  position: absolute;
  border-radius: 0px 0px 1.4rem 1.4rem;
  background: #fff;
  width: 33.6rem;
  z-index: 9;
  transform: scaleY(0);
  transform-origin: top;
  visibility: hidden;
  transition: all 0.2s ease;
  left: 0;
  top: 5.6rem;
  overflow: hidden;
}

.header_right ul li.mainitem ul li a {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  padding: 2.4rem 2.8rem;
  font-size: 1.8rem;
  color: #000;
  transition: all 0.2s ease;
}

.header_right ul li.mainitem ul li a:hover {
  background-color: #ebf5f5;
}

.header_right ul li.mainitem ul li a img {
  display: inline-block;
  width: 2.8rem;
}

.header_right ul li.mainitem:last-child a {
  padding: 1.8rem 2.2rem;
  border-radius: 1.4rem;
  border: 1px solid #ced7d7;
  background: #fff;
  transition: all 0.2s ease;
  margin-left: 3.8rem;
}

.header_right ul li.mainitem:last-child a:hover {
  background-color: #00377b;
  color: #fff;
  border-color: #00377b;
}
/* -- header area end -- */

/* ===============================
    Home page start
=============================== */
/* -- hero area start -- */
#hero {
  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 14rem 0px;
}

.hero_wrapper {
  max-width: 69rem;
}

.hero_heading h2 {
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4.8rem;
}

.hero_heading p {
  margin-top: 2.2rem;
  font-size: 1.6rem;
}

.hero_input {
  margin-top: 7rem;
}

.hero_input > p {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem;
  margin-bottom: 1.8rem;
}

.hero_input_field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5rem;
}

.hero_input_field p#cntry {
  border-radius: 1.4rem;
  border: 2px solid #72d663;
  background: #ebf5f5;
  width: 100%;
  padding: 2.3rem 1.8rem 2.3rem 3.6rem;
  color: #879797;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: top 3.4rem right 1.5rem;
  background-size: 1.5rem;
  cursor: pointer;
}

.activeCountry p#cntry {
  border-radius: 1.4rem 1.4rem 0rem 0rem;
  border-bottom: 0;
  background: #fff;
}

.hero_input_field button {
  display: inline-block;
  border: 0;
  margin-left: 1.2rem;
  background-color: transparent;
  transition: all 0.2s ease;
}

.hero_input_field button img {
  display: inline-block;
  width: 7.9rem;
}

.hero_input_field button:hover {
  opacity: 0.7;
}

.hero_input_pera {
  width: 100%;
  position: relative;
}

.hero_input_block {
  position: absolute;
  background-color: #fff;
  width: 100%;
  border-radius: 14px;
  border: 2px solid #72d663;
  background: #fff;
  border-top: 0;
  transform: scaleY(0);
  transform-origin: top;
  visibility: hidden;
  transition: all 0.4s ease;
  overflow: hidden;
}

.hero_input_block ul li {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  font-size: 1.8rem;
  color: #000;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 1px solid #deeded;
  transition: all 0.2s ease;
  padding-right: 2.8rem;
}

.hero_input_block ul li:hover {
  background-color: #ebf5f5;
}

.hero_input_block ul li:last-child {
  border-bottom: 0;
}

.hero_input_block ul li p {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 2.4rem 2.8rem;
}

.activeCountry .hero_input_block {
  transform: scaleY(1);
  visibility: visible;
  border-radius: 0rem 0rem 1.4rem 1.4rem;
}

.activeBroker {
  transform: scaleY(1) !important;
  visibility: visible !important;
}
/* -- hero area end -- */

/* -- platform area start -- */

#platform {
  background: #f1f7f7;
  padding-top: 5rem;
}

.platform_wrapper {
  display: flex;
}

.platform_left {
  width: 55%;
  margin-top: 3rem;
}

.platform_right {
  width: 45%;
}

.platform_right img {
  display: block;
  width: 100%;
}

.platform_left h4 {
  color: #00377b;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 4.6rem;
}

.platform_left p {
  color: #00377b;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  margin-top: 3.4rem;
}
/* -- platform area end -- */

/* -- disclaimer area start -- */
#disclaimer {
  background: #deeded;
  padding: 4rem 0px;
}

.disclaimer_wrapper h6 {
  color: #98b5b5;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.8rem;
}

.disclaimer_wrapper p {
  color: #98b5b5;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  margin-top: 1.5rem;
}
/* -- disclaimer area end -- */

/* -- footer area start -- */
footer {
  background: #02a28a;
  padding: 5rem 0;
}

.footer_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_left a {
  display: inline-block;
}

.footer_left a img {
  display: inline-block;
  max-width: 16rem;
}

.footer_right ul {
  display: flex;
  align-items: center;
  gap: 7.5rem;
}

.footer_right ul li a {
  font-size: 1.6rem;
  color: #fff;
  transition: all 0.2s ease;
}

.footer_right ul li a:hover {
  opacity: 0.7;
}
/* -- footer area end -- */

.bar {
  width: 30px;
  cursor: pointer;
}

.bar span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #00377b;
  margin: 4px 0px;
  border-radius: 10px;
}

.header_left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ===============================
    Home page end
=============================== */

/* ===============================
    page2 start
=============================== */
.p2wrapper {
  background-color: #f1f7f7;
}

.p2hero_wrapper h3 {
  color: #02a28a;
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4.8rem;
}

.p2hero_wrapper h3.black {
  color: #1f1f1f;
  margin-bottom: 1rem;
}

.p2hero_wrapper h3 img {
  display: inline-block;
  width: 3.2rem;
}

.p2broker_cnt {
  border-radius: 14px;
  background: #dce9e7;
  overflow: hidden;
}

.p2broker {
  border-radius: 14px;
  background: #fff;
  display: grid;
  grid-template-columns: 315px 455px 315px;
}

.p2broker_left {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p2broker_left span {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 1px solid #02bfa4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  color: #1f1f1f;
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.p2broker_left img {
  display: inline-block;
  max-width: 182px;
}

.p2broker_middle h5 {
  color: #1f1f1f;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  margin-bottom: 2rem;
}

.p2broker_middle ul li {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.p2broker_middle ul li img {
  display: inline-block;
  width: 2rem;
}

.p2broker_right ul li {
  display: inline-block;
}

.p2broker_right ul li img {
  display: inline-block;
  width: 2.2rem;
  margin: 0.2rem;
}

.p2broker_right a {
  display: block;
  padding: 1.8rem 3.5rem;
  border-radius: 1.4rem;
  background: #00377b;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  transition: all 0.2s ease;
  margin: 1.5rem 0px;
}

.p2broker_right a:hover {
  opacity: 0.7;
}

.p2broker_right p {
  color: #1f1f1f;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4rem;
  text-align: left;
}

.p2broker_right_wrapper {
  width: 200px;
  margin: auto;
  text-align: center;
}

.p2broker_middle {
  padding: 2.5rem 3rem;
  position: relative;
}

.p2broker_middle:after {
  content: "";
  display: block;
  width: 1px;
  height: 85%;
  position: absolute;
  left: 0.8rem;
  top: 7%;
  background-color: #dce9e7;
}

.p2broker_middle:before {
  content: "";
  display: block;
  width: 1px;
  height: 85%;
  position: absolute;
  right: 0rem;
  top: 7%;
  background-color: #dce9e7;
}

.p2broker_right {
  padding: 2.5rem 0;
}

.p2broker_asset {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0rem;
  column-gap: 8rem;
}

.p2broker_asset_cnt p {
  color: #000;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem;
}

.p2broker_asset_cnt p span {
  color: #02bfa4;
}

.p2broker_cnt {
  margin-bottom: 4.4rem;
}

.p2place p {
  color: #1f1f1f;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}

.p2place p:last-child {
  margin-top: 1.8rem;
}

.p2place {
  padding-bottom: 9rem;
}

.p2details_block {
  border-radius: 1.4rem;
  background: #fff;
  padding: 5rem;
  display: grid;
  grid-template-columns: 264px calc(100% - 264px);
  margin-bottom: 4rem;
}

.p2details_block_left_img img {
  display: block;
  width: 100%;
}

.p2details_block_left_details ul li {
  display: inline-block;
}

.p2details_block_left_details ul li img {
  display: inline-block;
  width: 2.2rem;
  margin: 0.2rem;
}

.p2details_block_left_details ul {
  margin: 2rem 0rem;
}

.p2details_block_left_details a {
  display: block;
  width: 100%;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6rem;
  padding: 18px 22px;
  text-align: center;
  border-radius: 1.4rem;
  background: #00377b;
  transition: all 0.2s ease;
}

.p2details_block_left_details a:hover {
  opacity: 0.7;
}

.p2details_block_left_details p {
  color: #abb7b7;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4rem;
  margin-top: 2rem;
}

.p2details_block_right {
  padding-left: 4rem;
}

.p2details_block_right_heading h4 {
  color: #1f1f1f;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
}

.p2details_block_right_heading h4.commition {
  color: #02bfa4;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
  margin: 1.5rem 0rem;
}

.p2details_block_right_heading p {
  color: #1f1f1f;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}

.p2details_hidden h4 {
  color: #1f1f1f;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  margin-top: 2.8rem;
  margin-bottom: 2.2rem;
}

.p2details_hidden h4 a {
  display: inline-block;
  color: #1f1f1f;
  transition: all 0.2s ease;
  text-decoration: underline;
}

.p2details_hidden h4 a:hover {
  opacity: 0.7;
}

.p2details_hidden ul li {
  display: flex;
  column-gap: 1.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
  margin-bottom: 1.4rem;
}

.p2details_hidden ul li:last-child {
  margin-bottom: 0;
}

.p2details_hidden ul li span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid #02bfa4;
  color: #02bfa4;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  border-radius: 50%;
  flex: none;
}

.p2details_more button {
  display: block;
  width: 100%;
  border: 0;
  outline: none;
  background-color: transparent;
  border-radius: 14px;
  border: 1px solid #ced7d7;
  background: #fff;
  text-align: center;
  padding: 1.5rem 2.2rem;
  transition: all 0.2s ease;
}

.p2details_more button:hover {
  opacity: 0.7;
}

.p2details_more button img {
  display: inline-block;
  width: 1.6rem;
}

.p2details_more {
  margin-top: 2.8rem;
}

.p2details_hidden {
  display: none;
}

.activeHidden .p2details_hidden {
  display: block;
}

.activeHidden button img {
  transform: rotate(-180deg);
  transition: all 0.2s ease;
}

.p2risk p {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1.4rem;
}

.p2risk {
  padding-bottom: 5.5rem;
}

.p2dis {
  background-color: #0c6f60 !important;
}

.p2dis .disclaimer_wrapper h6 {
  color: #d2ddeb;
}

.p2dis .disclaimer_wrapper p {
  color: #d2ddeb;
}

.p2hero_heading {
  padding: 6.8rem 0rem;
}

.p2broker_left ul li {
  display: inline-block;
}

.p2broker_left ul li img {
  display: inline-block;
  width: 1.8rem;
  margin-right: 0.2rem;
  margin-top: 0.5rem;
}

/* ===============================
    page2 end
=============================== */
